@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap");

:root {
  --light: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

body {
  line-height: 1.2;
}

hr {
  margin: -0.5rem 0 1rem 0;
  width: 350px;
}

.about-me-text-container {
  background: url("../public/images/background-images/cloud-trees-flipped-cropped.jpg")
    no-repeat center center fixed;
  /* background-image: url("../../public/images/pfp.JPG"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-flow: column;
  font-family: "Trebuchet MS", sans-serif;
}

.about-me-text-wrapper {
  font-size: 1.5rem;
  color: #242424;
  position: relative;
  margin-bottom: 76.8px;
  width: 70%;
  height: 70vh;
}

.about-me-text-box {
  font-family: "Trebuchet MS";
  font-size: 110%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  height: auto;
  width: auto;
}

.about-me-text-title-container {
  position: relative;
  font-size: 2rem;
  color: var(--light);
  /* margin: 30px 0; */
}

.about-me-text-title-container span {
  font-size: 200%;
  font-family: "Trebuchet MS", sans-serif;
  opacity: 30%;
  margin: 5px;
}

.about-me-text-content {
  margin: 20px 0;
  /* line-height: 3rem; */
  text-align: left;
  opacity: 60%;
  font-weight: 600;
  font-family: "Trebuchet MS";
}

.about-me-text-content span {
  color: #973440;
  font-family: "Trebuchet MS";
}

.fade {
  font-family: "Trebuchet MS";
}

.bio {
  height: 360px;
  width: 640px;
  border: 1px solid var(--light);
}

.about-me,
.portfolio,
.contact,
.resume {
  background-color: #242424;
  font-size: 1.5rem;
}

.title,
.about-me-title {
  font-size: 8vw;
  color: var(--light);
  padding: 24px;
}

.control {
  height: 100%;
}

.portfolio {
  /* background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.contact {
  /* background-image: url("");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat; */
  background-position: #242424;
}

.resume {
  /* background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.container {
  color: var(--light);
}

.contact-body {
  padding: 24px;
}

.column {
  margin: auto;
  padding: 24px;
}

.skill-icon {
  margin: 20px 10px;
  padding: 10px;
}

.skills {
  text-align: center;
}

.backend {
  margin-top: 5px;
}

#contact-columns {
  width: 70%;
  margin: auto;
}

#contact-column {
  border-radius: 5px;
}

.contact-form {
  padding: 10px;
}

.input,
.textarea {
  background-color: #242424;
  color: var(--light);
}

.input {
  width: 50%;
}

.textarea::placeholder,
.input::placeholder {
  color: white;
  opacity: 20%;
}

.error-msg-container {
  text-align: center;
}

.error-msg {
  color: var(--light);
  opacity: 40%;
}

hr {
  margin: auto;
  width: 70%;
  opacity: 20%;
  height: 0.5px;
}

.hidden {
  display: none;
}

.find-me {
  margin-bottom: 50px;
}

@media screen and (max-width: 1023px) {
  .hidden {
    display: inline;
  }

  .about-me-text-title-container {
    position: relative;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .mobile-icon {
    font-size: 50px;
    margin: 16px;
  }

  li {
    font-size: 80%;
  }

  li p {
    display: none;
  }

  .input {
    width: 70%;
  }

  .about-me-text-wrapper {
    width: 70%;
    padding-top: -50px;
  }

  .about-me-text-box {
    font-size: 1.2rem;
  }

  .about-me-title-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-text-title-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me-text-wrapper {
    padding-top: 50px;
  }
}
